.button {
    font: inherit;
    border: 1px solid rgb(20, 158, 202);
    background: rgb(20, 158, 202);
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: rgb(15, 120, 150);
    border-color: rgb(15, 120, 150);
}

.button:focus {
    outline: none;
}
