.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: rgb(204, 235, 247);
    /* background-color: rgb(20, 158, 202); */
    /* background-color: #f8dfff; */
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
}
